<?xml version="1.0" encoding="UTF-8"?>
<WinforgeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   
    <!-- Application Installation -->
    <Applications>
        <Install PackageManager="Chocolatey">
            <App>7zip</App>
            <App>firefox</App>
            <App>vscode</App>
            <App version="14.17.0">nodejs</App>
        </Install>
        <Uninstall PackageManager="Chocolatey">
            <App>7zip</App>
        </Uninstall>
        <RemoveBloatware>true</RemoveBloatware>
    </Applications>


</WinforgeConfig>






