<?xml version="1.0" encoding="UTF-8"?>
<WinforgeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   
    <!-- Application Installation -->
    <Applications>
        <Install PackageManager="Chocolatey">
            <App>7zip</App>
            <App>firefox</App>
            <App Version="latest">vscode</App>
        </Install>
        <Uninstall PackageManager="Winget">
            <App>Microsoft.3DBuilder</App>
            <App>Microsoft.549981C3F5F10</App>  <!-- Cortana -->
            <App>Microsoft.Copilot</App>
            <App>Microsoft.Messaging</App>
            <App>Microsoft.BingFinance</App>
            <App>Microsoft.BingFoodAndDrink</App>
            <App>Microsoft.BingHealthAndFitness</App>
            <App>Microsoft.BingNews</App>
            <App>Microsoft.BingSports</App>
            <App>Microsoft.BingTravel</App>
            <App>Microsoft.BingWeather</App>
            <App>Microsoft.GetHelp</App>
            <App>Microsoft.MicrosoftOfficeHub</App>
            <App>Microsoft.MicrosoftSolitaireCollection</App>
            <App>Microsoft.News</App>
            <App>Microsoft.MixedReality.Portal</App>
            <App>Microsoft.Office.OneNote</App>
            <App>Microsoft.OutlookForWindows</App>
            <App>Microsoft.Office.Sway</App>
            <App>Microsoft.OneConnect</App>
            <App>Microsoft.People</App>
            <App>Microsoft.SkypeApp</App>
            <App>Microsoft.Todos</App>
            <App>Microsoft.WindowsMaps</App>
            <App>Microsoft.ZuneVideo</App>
            <App>Microsoft.ZuneMusic</App>
            <App>MicrosoftCorporationII.MicrosoftFamily</App>
            <App>MSTeams</App>
            <App>Outlook</App>
            <App>LinkedInforWindows</App>
            <App>Microsoft.XboxApp</App>
            <App>Microsoft.XboxGamingOverlay</App>
            <App>Microsoft.Xbox.TCUI</App>
            <App>Microsoft.XboxGameOverlay</App>
            <App>Microsoft.WindowsCommunicationsApps</App>
            <App>Microsoft.YourPhone</App>
            <App>MicrosoftCorporationII.QuickAssist</App>

            <!-- Third-party Apps -->
            <App>ACGMediaPlayer</App>
            <App>ActiproSoftwareLLC</App>
            <App>AdobeSystemsIncorporated.AdobePhotoshopExpress</App>
            <App>Amazon.com.Amazon</App>
            <App>AmazonVideo.PrimeVideo</App>
            <App>Asphalt8Airborne</App>
            <App>AutodeskSketchBook</App>
            <App>CaesarsSlotsFreeCasino</App>
            <App>COOKINGFEVER</App>
            <App>CyberLinkMediaSuiteEssentials</App>
            <App>DisneyMagicKingdoms</App>
            <App>Disney</App>
            <App>DrawboardPDF</App>
            <App>Duolingo-LearnLanguagesforFree</App>
            <App>EclipseManager</App>
            <App>Facebook</App>
            <App>FarmVille2CountryEscape</App>
            <App>fitbit</App>
            <App>Flipboard</App>
            <App>HiddenCity</App>
            <App>HULULLC.HULUPLUS</App>
            <App>iHeartRadio</App>
            <App>Instagram</App>
            <App>king.com.BubbleWitch3Saga</App>
            <App>king.com.CandyCrushSaga</App>
            <App>king.com.CandyCrushSodaSaga</App>
            <App>MarchofEmpires</App>
            <App>Netflix</App>
            <App>NYTCrossword</App>
            <App>OneCalendar</App>
            <App>PandoraMediaInc</App>
            <App>PhototasticCollage</App>
            <App>PicsArt-PhotoStudio</App>
            <App>Plex</App>
            <App>PolarrPhotoEditorAcademicEdition</App>
            <App>RoyalRevolt</App>
            <App>Shazam</App>
            <App>Sidia.LiveWallpaper</App>
            <App>SlingTV</App>
            <App>Spotify</App>
            <App>TikTok</App>
            <App>TuneInRadio</App>
            <App>Twitter</App>
            <App>Viber</App>
            <App>WinZipUniversal</App>
            <App>Wunderlist</App>
            <App>XING</App>
        </Uninstall>
    </Applications>


</WinforgeConfig>






